.input_projects{
    width: 100%;
    background-color:#2b2b2b;
    text-align: center;
    // height: 200px;
    border-radius: 5;
    color: white;
    font-size: 1rem;
    padding: 5rem;
    border: 2px solid #cccccc;

  }