// Colors
$primary_color: #221e22;
$secondary_color: #1c1a1a;
$accent_color: #ffc911;
$bg_color: #eaf2ef;
$text_color: #fbf7f4;
$border_color: #fbf7f4;
$btn_black: #000000;
$btn_grey: #3e3a3e;

// Border radius
$border_radius: 16px;
$modal_border_radius: 50px;

// Button padding
$button_padding: 10px 25px;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;

